.home-bg {
  background-image: url('../../photos/bgphoto.png');
  background-size: cover;
  height: 100vh;
  border-radius: 50px;
  background-repeat: no-repeat;

}

.table-bg {
  /* From https://css.glass */
  background: rgba(0, 50, 95, 0.16);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border-radius: 50px;
}